---
import { ClientRouter } from 'astro:transitions';
import { Toaster } from '@/components/ui/toaster';
import '@/styles/global.css';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Learn Assistant</title>
    <ClientRouter />
    <script>
      const getThemePreference = () => {
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      };

      const applyTheme = () => {
        const isDark = getThemePreference() === 'dark';
        document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
      };

      document.addEventListener('astro:after-swap', applyTheme);
      applyTheme();
    </script>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <Toaster client:load />
  </body>
</html>
