---
import '@/styles/global.css';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Learn Assistant</title>
    <script>
      const getThemePreference = () => {
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
      };

      const isDark = getThemePreference() === 'dark';
      document.documentElement.classList[isDark ? 'add' : 'remove']('dark');
    </script>
  </head>
  <body class="min-h-screen p-5">
    <header>
      <h1 class="text-center text-5xl">{title}</h1>
    </header>
    <main class="mt-16">
      <slot />
    </main>
  </body>
</html>
